<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reminder App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f3f4f6;
            /* Lighter background color */
            color: #333;
            /* Darker text color */
        }

        .reminder-card {
            background-color: #fff;
            /* White background for cards */
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            /* Shadow effect */
        }

        .reminder-card-header {
            padding: 10px;
        }

        .reminder-form {
            padding: 20px;
        }

        .reminder-list {
            padding: 20px;
        }

        .delete-btn {
            background-color: #e53e3e;
            /* Delete button background color */
            color: #fff;
            /* Delete button text color */
        }
    </style>
</head>

<body class="bg-gray-150 mt-20">
    <h1 class="text-3xl font-bold text-center mb-20">Elderly Reminder App</h1>
    <div class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- General Reminders -->
        <div class="reminder-card">
            <div class="reminder-card-header bg-blue-500 rounded-t-md text-white">
                <h1 class="text-xl font-bold text-center py-2">General Reminders</h1>
            </div>
            <div class="reminder-form">
                <form method="POST" action="/">
                    <input type="hidden" name="reminder_type" value="general">
                    <div class="mb-4">
                        <label class="block text-sm font-bold mb-2" for="general_reminder">Reminder:</label>
                        <input class="border rounded-md px-3 py-2 w-full" type="text" id="general_reminder"
                            name="reminder" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-bold mb-2" for="general_time">Time (HH:MM):</label>
                        <input class="border rounded-md px-3 py-2 w-full" type="text" id="general_time" name="time"
                            placeholder="HH:MM" pattern="^(0?[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" required>
                    </div>
                    <input
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer w-full"
                        type="submit" value="Set Reminder">
                </form>
            </div>
            <div class="reminder-list">
                <h2 class="text-lg font-bold">General Reminders:</h2>
                <ul>
                    {% for reminder in current_general %}
                    <li class="flex justify-between items-center">
                        <span>{{ reminder[0] }} at {{ reminder[1] }}</span>
                        <button class="delete-btn px-3 py-1 rounded" onclick="deleteReminder('general')">Delete</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Medication Reminders -->
        <div class="reminder-card">
            <div class="reminder-card-header bg-green-500 rounded-t-md text-white">
                <h1 class="text-xl font-bold text-center py-2">Medication Reminders</h1>
            </div>
            <div class="reminder-form">
                <form method="POST" action="/medication">
                    <input type="hidden" name="reminder_type" value="medications">
                    <div class="mb-4">
                        <label class="block text-sm font-bold mb-2" for="medication_reminder">Medication
                            Reminder:</label>
                        <input class="border rounded-md px-3 py-2 w-full" type="text" id="medication_reminder"
                            name="reminder" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-bold mb-2" for="medication_time">Time (HH:MM):</label>
                        <input class="border rounded-md px-3 py-2 w-full" type="text" id="medication_time" name="time"
                            placeholder="HH:MM" pattern="^(0?[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" required>
                    </div>
                    <input
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer w-full"
                        type="submit" value="Set Medication Reminder">
                </form>
            </div>
            <div class="reminder-list">
                <h2 class="text-lg font-bold">Medication Reminders:</h2>
                <ul>
                    <!-- Loop through medication reminders -->
                    {% for reminder in current_medications %}
                    <li class="flex justify-between items-center">
                        <span>{{ reminder[0] }} at {{ reminder[1] }}</span>
                        <button class="delete-btn px-3 py-1 rounded"
                            onclick="deleteReminder('medications')">Delete</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Appointment Reminders -->
        <div class="reminder-card">
            <div class="reminder-card-header bg-yellow-500 rounded-t-md text-white">
                <h1 class="text-xl font-bold text-center py-2">Appointment Reminders</h1>
            </div>
            <div class="reminder-form">
                <form method="POST" action="/appointment">
                    <input type="hidden" name="reminder_type" value="appointments">
                    <div class="mb-4">
                        <label class="block text-sm font-bold mb-2" for="appointment_reminder">Appointment
                            Reminder:</label>
                        <input class="border rounded-md px-3 py-2 w-full" type="text" id="appointment_reminder"
                            name="reminder" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-bold mb-2" for="appointment_time">Time (HH:MM):</label>
                        <input class="border rounded-md px-3 py-2 w-full" type="text" id="appointment_time" name="time"
                            placeholder="HH:MM" pattern="^(0?[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" required>
                    </div>
                    <input
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer w-full"
                        type="submit" value="Set Appointment Reminder">
                </form>
            </div>
            <div class="reminder-list">
                <h2 class="text-lg font-bold">Appointment Reminders:</h2>
                <ul>
                    <!-- Loop through appointment reminders -->
                    {% for reminder in current_appointments %}
                    <li class="flex justify-between items-center">
                        <span>{{ reminder[0] }} at {{ reminder[1] }}</span>
                        <button class="delete-btn px-3 py-1 rounded"
                            onclick="deleteReminder('appointments')">Delete</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Daily Journal Section -->
        <div class="reminder-card mt-8">
            <div class="reminder-card-header bg-purple-500 rounded-t-md text-white">
                <h1 class="text-xl font-bold text-center py-2">Daily Journal</h1>
            </div>
            <div class="reminder-form">
                <form id="journalForm">
                    <div class="mb-4">
                        <label class="block text-sm font-bold mb-2" for="journal_entry">Today's Journal Entry:</label>
                        <textarea class="border rounded-md px-3 py-2 w-full h-24" id="journal_entry"
                            name="journal_entry" required></textarea>
                    </div>
                    <input
                        class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded cursor-pointer w-full"
                        type="submit" value="Save Journal Entry">
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const journalForm = document.getElementById('journalForm');
            journalForm.addEventListener('submit', saveJournalEntry);

            loadJournalEntry();

            function saveJournalEntry(event) {
                event.preventDefault();
                const entry = document.getElementById('journal_entry').value;
                const currentDate = new Date().toISOString().slice(0, 10); // Get current date in YYYY-MM-DD format
                const journalData = {
                    date: currentDate,
                    entry: entry
                };

                let existingEntries = localStorage.getItem('journalEntries');
                existingEntries = existingEntries ? JSON.parse(existingEntries) : [];

                existingEntries.push(journalData);
                localStorage.setItem('journalEntries', JSON.stringify(existingEntries));

                loadJournalEntry();
                journalForm.reset();
            }

            function loadJournalEntry() {
                let existingEntries = localStorage.getItem('journalEntries');
                existingEntries = existingEntries ? JSON.parse(existingEntries) : [];

                const journalList = document.createElement('ul');
                journalList.classList.add('reminder-list');

                existingEntries.forEach(entry => {
                    const listItem = document.createElement('li');
                    listItem.classList.add('flex', 'justify-between', 'items-center');
                    listItem.innerHTML = `<span>${entry.date}: ${entry.entry}</span>`;
                    journalList.appendChild(listItem);
                });

                const journalSection = document.querySelector('.reminder-card:last-child');
                journalSection.querySelector('.reminder-list').remove(); // Remove existing list
                journalSection.appendChild(journalList); // Append updated list
            }
        });
    </script>


        <script>
            function deleteReminder(reminderType) {
                fetch('/delete_reminder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({ 'reminder_type': reminderType })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.reload();
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        </script>
</body>

</html>